#root {
    width: 90vw;
    margin: 0 auto;
    padding: 2rem; 
    text-align: center;
   
   
  }
header {
    font-size: 30px;
    margin-bottom: 1em;

}

.navbar {
    border: solid red;
    display: flex;
    justify-content: space-evenly;
    width: 40vw;
    border-radius: 60px;
    margin-left: 460px;
    

}


.dashTitle {
    border: solid blue;
   margin-top: 1em;
}

.productsContainer {
    border: solid green;
    height: 44vh;

}

.noteGoat {
    border: solid yellow;
    margin: 2em;
    height: 22px;
    border-width: 2px;
    border-radius: 8px;
}