#root {
    width: 90vw;
    margin: 0 auto;
    padding: 2rem; 
    text-align: center;
     
   
   
  }
header {
    font-size: 30px;
    margin-bottom: 1em;

}

.navbar {
    border: solid red;
    display: flex;
    /* justify-content: space-evenly; */
    width: 60vw;
    border-radius: 60px;
    margin-left: 250px;
    
    
    

}


.dashTitle {
    border: solid blue;
   margin-top: 1em;
}

.productContainer {
    border: solid green;
    /* height: 250px; */
    margin-top: 2em;
    width: 210px;
    height: 350px;
    border-radius: 10px;
    padding: 3px;
    transition: 0.2s;
     
}
.productContainer:hover {
    transform: translateY(-0.5rem);
     
} 

 

.productPic{

height: 200px;
width: 200px;

} 
.mainProduct {
  
   display: flex;
   flex-wrap: wrap;
   padding: 8px;
 
}
 




.editBtn, .deleteBtn {
    
    border: solid black;
    border-width: 2px;
    padding: 2px;
    font-size: 14px;
    border-radius: 5px;
}

.editBtn:hover, .deleteBtn:hover {
    
    border: solid blue;
    border-width: 2px;
    padding: 2px;
    font-size: 14px;
    color:red;
}
.formMajor {
    border: solid purple;
    margin: 2em;
    
     
}
form {
    margin: 1em;
}

.upd{
 
    border: solid green;
    margin: 2em;
    

}
.searchBar {
    border: solid blue;
    height: 80px;
    margin: 2em;
    border-radius: 5px;
    padding-top: 10px;
    
    
}
.slogan {
    margin: 2em;
    border: solid steelblue;
    padding: 1em;
    border-radius: 20px;

}

.slogan:hover {
 background-color: cornflowerblue;
}

.gift {
    border: solid red;
    height: 100px;
    margin: 2em;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.gift_icon {
    color: red;
    font-size: 65px;

} 

.gift_dollar {
    color: red;
    font-size: 65px;

} 

.foot {
    border: solid black;
    margin-top: 4em;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
}

.brandsContainer {
    border: solid red;
    margin-top: 2em;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.pic {
   
    width: 170px;
    height: 170px;
    
}

.pop {
    margin-top: 2em;
}

.brand {
    border: solid black;
    width: 190px;
    margin: 1em;
    background: #fff;
    transition: .3s ease-in-out;
    position: relative;
    
}
.brand:hover {
     box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
     transform: scale(1.2);
    
}
 
.btn_sub {
    margin: 10px;
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
   

}
.btn_sub::after {
content: "";
z-index: -1;
position: absolute;
width: 100%;
height: 100%;
background-color: #333;
left: 0;
top: 0;
border-radius: 10px;
 
 
}
.btn_sub::before {
    content: "";
    background: linear-gradient(
        45deg,
        #FF0000, #FF7300, #FFFB00, #48FF00,
        #00FFD5, #FF00C8, #FF00C8, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    opacity: 1;
     
}
@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
  }

.btn_sub:hover::before {
    opacity: 1;

}
.btn_sub:active::after {
    background: transparent;
}
.btn_sub:active {
    color: #000;
    font-weight: bold;
}


/* -- */
.btn_sub_seacrh {
    margin: 10px;
    padding: 8px 35px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
   

}
.btn_sub_seacrh::after {
content: "";
z-index: -1;
position: absolute;
width: 100%;
height: 100%;
background-color: #333;
left: 0;
top: 0;
border-radius: 10px;
 
 
}
.btn_sub_seacrh::before {
    content: "";
    background: linear-gradient(
        45deg,
        #FF0000, #FF7300, #FFFB00, #48FF00,
        #00FFD5, #FF00C8, #FF00C8, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    opacity: 1;
     
}
@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
  }

.btn_sub_seacrh:hover::before {
    opacity: 1;

}
.btn_sub_seacrh:active::after {
    background: transparent;
}
.btn_sub_seacrh:active {
    color: #000;
    font-weight: bold;
}
.bottom {
    /* border: solid black;  */
    /* width: 150px;     */
    margin: 1em;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    
    display: flex;
    justify-content: space-between;
   
    }


 /* btn edit delete */
 