#root {

    
    background-color: #111;
    height: 100%;
    width: 100%;
    padding: 1em;
    
  }
  



header {
    font-size: 30px;
    color: red;
    margin-top: 2em;
    text-align: center;
}
.slogan {
    
    color: white;
    margin-bottom: 2em;
    text-align: center;
   

}
.nav {
    border: solid white;
    border-radius: 5px;
    margin-top: 5em;
    width: 60vw;
    margin-left: 270px;
    
}
.navbar {
    /* border: solid white; */
    width: 60vw;
    margin-left: 10px;
    margin-right: 10PX;
    border-radius: 5px;
    
    
}
.gift {
    border: solid lime;
    height: 100px;
    margin: 2em;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5.5em;
}

.gift_icon {
    color: lime;
    font-size: 65px;

} 
.giftCard {
    color: lime;
    text-align: center;
}
.gift_dollar {
    color: lime;
    font-size: 65px;

} 
.foot {
   color: white;
    margin-top: 4em;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
}

.pop {
    color: white;
    margin: 2em;
    text-align: center;
}
.brandsContainer {
    border: solid white;
    margin-top: 2em;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    
}
.formMajor {
    border: solid hsl(317 100% 54%);
    margin: 2em;
    text-align: center;
     
}
.upd{
 
    border: solid hsl(317 100% 54%);
    margin: 2em;
    text-align: center;
} 

.searchBar {
    border: solid blueviolet;
    height: 80px;
    margin: 2em;
    border-radius: 5px;
    padding-top: 10px;
    text-align: center;
     
}

 

.dashTitle {
    border: solid blue;
   margin-top: 1em;
}

.productContainer {
    border: solid #14f7ff;
    /* height: 250px; */
    margin-top: 2em;
    width: 210px;
    height: 350px;
    border-radius: 10px;
    padding: 3px;
    transition: 0.2s;
    color: white;
    text-align: center;
     
}
.productContainer:hover {
    transform: translateY(-0.5rem);
     
} 

 

.productPic{

height: 200px;
width: 200px;

} 
.mainProduct {
  
   display: flex;
   flex-wrap: wrap;
   padding: 12px;
   justify-content: center;
    
 
}
 




.editBtn, .deleteBtn {
    
    border: solid black;
    border-width: 2px;
    padding: 2px;
    font-size: 14px;
    border-radius: 5px;
}

.editBtn:hover, .deleteBtn:hover {
    
    border: solid blue;
    border-width: 2px;
    padding: 2px;
    font-size: 14px;
    color:red;
}

form {
    margin: 1em;
}




 






.pic {
   
    width: 170px;
    height: 170px;
    
}

 

.brand {
    border: solid black;
    width: 190px;
    margin: 1em;
    background: #fff;
    transition: .3s ease-in-out;
    position: relative;
    
}
.brand:hover {
     box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
     transform: scale(1.2);
    
}
 
.btn_sub {
    margin: 10px;
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    margin-top: 2em;
   

}
.btn_sub::after {
content: "";
z-index: -1;
position: absolute;
width: 100%;
height: 100%;
background-color: #333;
left: 0;
top: 0;
border-radius: 10px;
 
 
}
.btn_sub::before {
    content: "";
    background: linear-gradient(
        45deg,
        #FF0000, #FF7300, #FFFB00, #48FF00,
        #00FFD5, #FF00C8, #FF00C8, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    opacity: 1;
     
}
@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
  }

.btn_sub:hover::before {
    opacity: 1;

}
.btn_sub:active::after {
    background: transparent;
}
.btn_sub:active {
    color: #000;
    font-weight: bold;
}


/* -- */
.btn_sub_seacrh {
    margin: 10px;
    padding: 8px 35px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
   

}
.btn_sub_seacrh::after {
content: "";
z-index: -1;
position: absolute;
width: 100%;
height: 100%;
background-color: #333;
left: 0;
top: 0;
border-radius: 10px;
 
 
}
.btn_sub_seacrh::before {
    content: "";
    background: linear-gradient(
        45deg,
        #FF0000, #FF7300, #FFFB00, #48FF00,
        #00FFD5, #FF00C8, #FF00C8, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    opacity: 1;
     
}
@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
  }

.btn_sub_seacrh:hover::before {
    opacity: 1;

}
.btn_sub_seacrh:active::after {
    background: transparent;
}
.btn_sub_seacrh:active {
    color: #000;
    font-weight: bold;
}
.bottom {
    /* border: solid black;  */
    /* width: 150px;     */
    margin: 1em;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    
    display: flex;
    justify-content: space-between;
   
    }


.aboutPage {
    border: solid white;
    margin: 1em;
    color: white;
    text-align: center;
    padding: 1em;
    margin: 2em;
} 
  
 

.about {
    color: white;
    text-align: center;
    margin: 2em;
} 
.aboutImage {
    width: 450px;
    height: 300px;
    margin: 2em;
    margin-left: 160px;
}
.contactPage {
    color: white;
    text-align: center;
    margin: 2em;
    border: solid white;
    padding: 1em;
    width: 300px;
    margin-left: 250px;
}